@model Book

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var cultureInfo = new System.Globalization.CultureInfo("vi-VN");
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<div class="container-fluid">
    <h1 class="text-center">Book Details</h1>
    <div class="flex-column align-items-center justify-content-center">
        <hr />
        <img alt="book cover" class="img-fluid w-25" src="@Model.image"/>
        <div class="row w-50">
            <div class="col-4">
                <h2 class="text-info">Tên Sách</h2>
                <p class="fw-bold">Mô tả chi tiết</p>
                <p class="fw-bold">Giá</p>
                <p class="fw-bold">Số lượng</p>
            </div>
            <div class="col-8">
                <h2 class="text-danger">@Model.name</h2>
                <p>@Model.description</p>
                <p>@string.Format(cultureInfo, "{0:C3}", Model.price)</p>
                <p>@Model.quantity cuốn</p>
            </div>
        </div>
    </div>
</div>